.disp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}
.categories{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 75px;
    max-width: 1600px;
    overflow-x: scroll;
    height: 126px; 
}
.catg h2{
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
    text-align: center;
}
.catg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-width: 130px;
}
.catg img{
    width: 64px;
    height: 64px;
}
.imgCarousel{
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    margin-top: 20px;
}
.images{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.images img{
    transition: .5s ease-in-out;
    width: 100%;
    object-fit: cover;
    /* animation: img 1s ease-in-out 2s infinite alternate; */
}
/* @keyframes img {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatex(-200%);
    }
} */
.imgbtns{
    background-color: white;
    position: absolute;
    padding: 1.5% .5%;
    border-radius: 0 4px 4px 0;
    z-index: 55;
    border: none;
}
.imgbtns i{
    font-size: 24px;
    color: gray;
}
.imgbtns-right{
    right: 0;
    border-radius: 4px 0 0 4px;
}
.animImageCarouseldots{
    position: absolute;
    background-color: rgba(40, 36, 36, 0.2);
    /* background-color: red; */
    width: 40px;
    height: 10px;
    bottom: 20px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}
.dots{
    width: 6px;
    height: 6px;
    background-color: rgb(169, 169, 169);
    border-radius: 50%; 
    transition: 0.5 ease-in-out;
}
.act{
    position: absolute;
    width: 12px;
    height: 6px;
    background-color: white;
    border-radius: 12px;
    z-index: 90;
    transform: translateX(-100%);
    transition: .5s ease-in-out;
}
.dots.active{
    width: 12px;
    background-color: white;
    border-radius: 12px;

}




.productDisplay{
    max-width: 1600px;
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,auto);
    row-gap: 20px;
}
.productDisplay a{
    padding: 8px;
    background-color: white;
    /* width: 216px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.productDisplay a img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.productDisplay a h3{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    font-weight: normal;
}
.productDisplay a h4{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    font-weight: 600;
}
.productDisplay a img:hover{
    transform: scale(1.05);
}


footer h1{
    font-size: 16px;
    color: #565656;
    padding: 14px 0;
}
footer div{
    color: #565656;
    font-size: 14px;
}
footer div h2{
    color: #565656;
    display: inline;
}
footer article{
    margin: 100px 0 0 0;
}
footer div h2 a{
    color: #565656;
    font-size: 12px;
    font-weight: normal;
    padding-right: 4px;
    border-right: 2px solid gray;
}
.err{
    display: none;
    text-align: center;
}
.docData{
    color: #878787;
    line-height: 16px;
    font-size: 12px;
}
.docData h2{
    font-size: 14px;
    margin-bottom: 10px;
}
.footer{
    background-color: #212121;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 40px 60px 0;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}
.footer-top div{
    display: flex;
    flex-direction: column;
}
.footer-top div h1{
    color: #878787;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0;
    text-wrap: nowrap;
}
.footer-top div a,p{
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    display: inline;
    text-wrap: nowrap;
}
.footer-top div p a{
    color: #2874f0;
}
.footer-mailUs{
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}
.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    align-items: center;
}
.footer-bottom div{
    display: flex;
    align-items: center;
    color: white;
}
.footer-bottom div img{
    width: 13px;
    height: 12px;
}
.footer-bottom div a{
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
}
.footer-bottom div img.cardsAccepted{
    width: 377px;
    height: 18px;
}


@media (max-width: 1025px){
    .productDisplay{
        grid-template-columns: repeat(4,auto);
        gap: 16px;
    }
    .footer-top{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-mailUs{
        border: none;
    }
    .footer-bottom div.imgdisnone{
        display: none;
    }
}
@media (max-width:800px) {
    .footer{
        display: none;
    }
}
@media (max-width: 768px){
    .categories {
        margin-top: 106px;
        justify-content: flex-start;
        height: 107.34px;
    }
    .catg{
        height: 107.34px;
    }
    .disp{
        margin: 0;
    }
    .productDisplay{
        grid-template-columns: repeat(3,auto);
        gap: 10px;
    }
    header{
        height: 106px;
    }
    .search-wrap{
        top: 60px;
        position: absolute;
        display: flex;
        background-color: white;
        width: calc(100% - 28px);
        height: 38px;
        gap: 0;
    }
    .search-bar{
        height: 38px;
        font-size: 14px;
    }
    .search-icon{
        height: 38px;
    }
    .search-icon svg{
        width: 14px;
        height: 14px;
    }
    .search-icon svg path{
        stroke-width: 3;
    }
    .imgCarousel{
        margin-top: 0;
    }
    
}
@media (max-width: 426px){
    .productDisplay{
        grid-template-columns: repeat(2,auto);
        gap: 8px;
    }
}
@media (max-width: 260px){
    .disp{
        display: none;
    }
    .ham-nav{
        display: none;
    }
    .err{
        display: block;
    }
}