.header{
    width: 100%;
    position: fixed;
    margin: 0 auto;
    background-color: white;
    /* padding: 12px 28px; */
    z-index: 99;
}
header{
    margin: 0 auto;
    padding: 12px 28px;
    width: 100%;
    max-width: 1600px;  
    user-select: none;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.first,.second{
    display: flex;
    align-items: center;
    gap: 36px;
}
.first{
    /* width: 100%; */
    position: relative;
}
.ham{
    display: none;
}
.ham-nav{
    width: 75%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 110;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
.ham-nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #2874f0;
}
.ham-nav-btn{
    background: none;
    border: none;
    display: flex;
    margin-right: 15px;
}
.ham-nav div h3{
    color: white;
    font-weight: 400;
}
.ham-nav a {
    color: #353535;
    display: flex;
    align-items: center;
    padding: 6px 16px;
    gap: 16px;
    font-size: 12px;
    
}
.ham-nav a span{
    font-size: 12px;
    font-weight: bold;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    transition-delay: 2s;
    transition-duration: 0.5s;
    transition-property: all;
}
.search-bar{
    border: none;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: inherit;
    user-select: none;
    border-radius: 8px;
    font-size: 17px;
    text-overflow: ellipsis;
}
input:focus{
    outline: 0 !important;
}
.search-icon{
    background-color: inherit;
    border: none;
    height: 40px;
    padding: 8px 8px 8px 12px;
    cursor: pointer;
}
.search-wrap{
    background-color: #f0f5ff;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.search-hist{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: white;
    flex-direction: column;
}
.search-hist:hover{
    display: flex;
}
.search-hist a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.search-hist a img{
    width: 32px;
    height: 32px;
}
.search-bar:focus~.search-hist{
    display: flex;
}
.login-cont{
    position: relative;
}
.login-wrap{
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    gap: 10px;
}
.login-wrap a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
}
.login-popup{
    display: none;
    width: 280px;
    position: absolute;
    background-color: white;
    justify-content: space-between;
    top: 100%;
    flex-direction: column;
    list-style: none;
}
.login-popup a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 12px;
    gap: 8px;
}
.login-popup-first{
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;;
}
.login-popup-first div:nth-child(2){
    color: var(--hover-blue);
    font-weight: 600;
}
.login-cont:hover .login-popup{
    display: flex;
}
.login-cont:hover .login-wrap,.login-cont:hover .login-wrap a{
    background-color: var(--hover-blue);
    color: white;
    fill: white;
}
.login-cont:hover .prof,.login-cont:hover .invert{
    filter: brightness(0) invert(1);
}
.login-cont:hover .invert{
    transition: 0.2s linear ;
    rotate: 180deg;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.wrap a{
    display: flex;
    align-items: center;
}
.wrap span{
    text-decoration: none;
    color: black;
    display: flex;
    white-space: nowrap;
}
.p8{
    padding: 8px;
}
.logo-lite{
    display: none;
    object-fit: contain;
}
.mob-cart{
    display: none;
}
.mob-login{
    display: none;
}
.mob-search{
    display: none;
}
.mob-search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.mob-search-btn-img{
    object-fit: contain;
    width: 14px;
    height: 14px;
}
.mob-search-bar{
    width: 100%;
    border: none;
}
.search-hist a:hover{
    background-color: #f0f5ff;
}
.more-3dot{
    /* width: 210px; */
    display: none;
    position: fixed;
    right: 28px;
    background-color: white;
}
.more-3dot a{
    display: flex;
    padding: 10px;
}
.more-3dot h3{
    color: black;
    font-weight: 200;
}
.t3dot{
    position: relative;
}
.t3dot:hover .t3dot-dot{
    border: 1px solid darkgray;
    border-radius: 5px;
}
.t3dot:hover .more-3dot{
    display: block;
}
@media screen and (max-width: 1024px) {
    .more{
        display: none;
    }
    .wrap span{
        display: none;
    }
    header{
        gap: 6px;
    }
    .second{
        gap: 6px;
    }
}

@media screen and (max-width: 768px) {
    header{
        padding: 0 14px 8px 14px;
        background-color: rgba(40,116,240,1.00);
    }
    .first{
        gap: 10px;
    }
    .lsp-none{
        display: none;
    }
    .ham{
        filter: brightness(0) invert(1);
        display: flex;
        width: 20px;
    }
    .logo-lite{
        display: block;
    }
    .logo-plus{
        display: none;
    }
    .mob-cart{
        display: flex;
    }
    .login-cont{
        display: none;
    }
    .mob-login{
        display: block;
    }
    .second{
        gap: 25px;
        padding: 0 10px 0 0;
    }
    .mob-search{
        display: flex;
        background-color: white;
        width: 100%;
        height: 38px;
        margin-top: 8px;
        border-radius: 2px;
        gap: 0;
    }
}